<nb-layout>
  <nb-layout-header class="background" fixed>
    <h6 class="title">
      <div class="font-1">SUPERBOX</div>
      <span class="label">Sistema de Gestão ERP</span>
    </h6>

    <nb-user
      shape="rectangle"    
      id="user"
      name="SuperBox"
      title="full-stack manager"
      style="justify-content: end">
    </nb-user>
  </nb-layout-header>

  <nb-sidebar class="background">Sidebar Content</nb-sidebar>
  
  <nb-layout-column>
    Page Content <button nbButton status="primary">Hello World</button>
  </nb-layout-column>
</nb-layout>